body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 0;
}

tr{
  text-align: center;
}

table {
  background-color: black;
  width: 800px;
  font-size: 20px;
  height: 400px;
}

th {
  background-color: rgb(255, 255, 255);
  padding: 5px;
}

td {
  background-color: rgb(255, 255, 255);
  padding: 5px;
}

.note {
  text-align: center;
  color: red;
  margin-bottom: 40px;
}

.title {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}
