html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: clip;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
}

.entirePage {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

.about {
  text-align: center;
  font-size: 1.5rem;
  width: 800px;
}

.reasons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 80px;
}

.reasons img {
  width: 60px;
}

.reasons .title {
  font-weight: bold;
  font-size: 1.9rem;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 20px;
}
.reasons .description {
  font-size: 1.2rem;
}

.reasons div{
  width: 400px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
